[kws]
SAMPLE_RATE=16000
MODEL_DIR=model\kws-zipformer
TOKEN=model/kws-zipformer/tokens.txt
ENCODER=model/kws-zipformer/encoder-epoch-12-avg-2-chunk-16-left-64.onnx
DECODER=model/kws-zipformer/decoder-epoch-12-avg-2-chunk-16-left-64.onnx
JOINER=model/kws-zipformer/joiner-epoch-12-avg-2-chunk-16-left-64.onnx
KEYWORDS_FILE=model/kws-zipformer/keywords.txt
KEYWORD_SCORE=1.0
KEYWORD_THRESHOLD=0.25
PROVIDER=cpu
NUM_THREADS=1
MAX_ACTIVE_PATHS=4
NUM_TRAILING_BLANKS=8