SAMPLE_RATE = 16000
MODEL_DIR="sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01"
TOKEN="sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01/tokens.txt"
ENCODER="sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01\encoder-epoch-12-avg-2-chunk-16-left-64.onnx"
DECODER="sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01\decoder-epoch-12-avg-2-chunk-16-left-64.onnx"
JOINER="sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01\joiner-epoch-12-avg-2-chunk-16-left-64.onnx"
KEYWORDS_FILE="sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01\keywords.txt"
KEYWORD_SCORE=1.0
KEYWORD_THRESHOLD=0.25
PROVIDER=cpu
NUM_THREADS=1
MAX_ACTIVE_PATHS=4
NUM_TRAILING_BLANKS=8